# /etc/network/interfaces
# For more information, see interfaces(5).

auto lo
iface lo inet loopback

auto eth0
iface eth0 inet static
	address {{ ansible_host }}
	netmask {{ ip4am }}
	gateway {{ ip4gw }}
	dns-nameservers 1.1.1.1 1.0.0.1

auto eth0
iface eth0 inet6 static
pre-up modprobe ipv6
	address {{ ip6 }}
	netmask {{ ip6am }}
	autoconf 0
	gateway {{ ip6gw }}
	dns-nameservers 2001:4860:4860::8888
